<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
        <welcome-file-list>
            <welcome-file>views/index.jsp</welcome-file>
        </welcome-file-list>
        <!-- Logging Filter -->
        <filter>
            <filter-name>LoggingFilter</filter-name>
            <filter-class>com.lab2.filters.LogFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>LoggingFilter</filter-name>
            <url-pattern>/views/index.jsp</url-pattern>
        </filter-mapping>
        <!-- Decorator Filter -->
        <filter>
            <filter-name>DecoratorFilter</filter-name>
            <filter-class>com.lab2.filters.DecoratorFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>DecoratorFilter</filter-name>
            <url-pattern>/graph-controller</url-pattern>
        </filter-mapping>
        <!-- Context parameters for the listener-->
        <context-param>
            <param-name>defaultProperty</param-name>
            <param-value>order</param-value>
        </context-param>
</web-app>